/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@arrow-left-x: 0px;
@arrow-left-y: 0px;
@arrow-left-offset-x: 0px;
@arrow-left-offset-y: 0px;
@arrow-left-width: 11px;
@arrow-left-height: 24px;
@arrow-left-total-width: 51px;
@arrow-left-total-height: 38px;
@arrow-left-image: '../images/spritesheet.png';
@arrow-left: 0px 0px 0px 0px 11px 24px 51px 38px '../images/spritesheet.png';
@arrow-right-x: 13px;
@arrow-right-y: 0px;
@arrow-right-offset-x: -13px;
@arrow-right-offset-y: 0px;
@arrow-right-width: 11px;
@arrow-right-height: 24px;
@arrow-right-total-width: 51px;
@arrow-right-total-height: 38px;
@arrow-right-image: '../images/spritesheet.png';
@arrow-right: 13px 0px -13px 0px 11px 24px 51px 38px '../images/spritesheet.png';
@clock-dark-x: 26px;
@clock-dark-y: 0px;
@clock-dark-offset-x: -26px;
@clock-dark-offset-y: 0px;
@clock-dark-width: 12px;
@clock-dark-height: 12px;
@clock-dark-total-width: 51px;
@clock-dark-total-height: 38px;
@clock-dark-image: '../images/spritesheet.png';
@clock-dark: 26px 0px -26px 0px 12px 12px 51px 38px '../images/spritesheet.png';
@clock-grey-x: 0px;
@clock-grey-y: 26px;
@clock-grey-offset-x: 0px;
@clock-grey-offset-y: -26px;
@clock-grey-width: 12px;
@clock-grey-height: 12px;
@clock-grey-total-width: 51px;
@clock-grey-total-height: 38px;
@clock-grey-image: '../images/spritesheet.png';
@clock-grey: 0px 26px 0px -26px 12px 12px 51px 38px '../images/spritesheet.png';
@clock-yellow-x: 14px;
@clock-yellow-y: 26px;
@clock-yellow-offset-x: -14px;
@clock-yellow-offset-y: -26px;
@clock-yellow-width: 12px;
@clock-yellow-height: 12px;
@clock-yellow-total-width: 51px;
@clock-yellow-total-height: 38px;
@clock-yellow-image: '../images/spritesheet.png';
@clock-yellow: 14px 26px -14px -26px 12px 12px 51px 38px '../images/spritesheet.png';
@down-x: 26px;
@down-y: 14px;
@down-offset-x: -26px;
@down-offset-y: -14px;
@down-width: 11px;
@down-height: 9px;
@down-total-width: 51px;
@down-total-height: 38px;
@down-image: '../images/spritesheet.png';
@down: 26px 14px -26px -14px 11px 9px 51px 38px '../images/spritesheet.png';
@dropdown-small-x: 40px;
@dropdown-small-y: 11px;
@dropdown-small-offset-x: -40px;
@dropdown-small-offset-y: -11px;
@dropdown-small-width: 10px;
@dropdown-small-height: 4px;
@dropdown-small-total-width: 51px;
@dropdown-small-total-height: 38px;
@dropdown-small-image: '../images/spritesheet.png';
@dropdown-small: 40px 11px -40px -11px 10px 4px 51px 38px '../images/spritesheet.png';
@up-x: 40px;
@up-y: 0px;
@up-offset-x: -40px;
@up-offset-y: 0px;
@up-width: 11px;
@up-height: 9px;
@up-total-width: 51px;
@up-total-height: 38px;
@up-image: '../images/spritesheet.png';
@up: 40px 0px -40px 0px 11px 9px 51px 38px '../images/spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
