/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@arrow-left-x: 127px;
@arrow-left-y: 58px;
@arrow-left-offset-x: -127px;
@arrow-left-offset-y: -58px;
@arrow-left-width: 11px;
@arrow-left-height: 24px;
@arrow-left-total-width: 209px;
@arrow-left-total-height: 188px;
@arrow-left-image: '../images/spritesheet.png';
@arrow-left: 127px 58px -127px -58px 11px 24px 209px 188px '../images/spritesheet.png';
@arrow-right-x: 140px;
@arrow-right-y: 58px;
@arrow-right-offset-x: -140px;
@arrow-right-offset-y: -58px;
@arrow-right-width: 11px;
@arrow-right-height: 24px;
@arrow-right-total-width: 209px;
@arrow-right-total-height: 188px;
@arrow-right-image: '../images/spritesheet.png';
@arrow-right: 140px 58px -140px -58px 11px 24px 209px 188px '../images/spritesheet.png';
@clock-dark-x: 91px;
@clock-dark-y: 171px;
@clock-dark-offset-x: -91px;
@clock-dark-offset-y: -171px;
@clock-dark-width: 12px;
@clock-dark-height: 12px;
@clock-dark-total-width: 209px;
@clock-dark-total-height: 188px;
@clock-dark-image: '../images/spritesheet.png';
@clock-dark: 91px 171px -91px -171px 12px 12px 209px 188px '../images/spritesheet.png';
@clock-grey-x: 77px;
@clock-grey-y: 171px;
@clock-grey-offset-x: -77px;
@clock-grey-offset-y: -171px;
@clock-grey-width: 12px;
@clock-grey-height: 12px;
@clock-grey-total-width: 209px;
@clock-grey-total-height: 188px;
@clock-grey-image: '../images/spritesheet.png';
@clock-grey: 77px 171px -77px -171px 12px 12px 209px 188px '../images/spritesheet.png';
@clock-white-md-x: 191px;
@clock-white-md-y: 134px;
@clock-white-md-offset-x: -191px;
@clock-white-md-offset-y: -134px;
@clock-white-md-width: 15px;
@clock-white-md-height: 15px;
@clock-white-md-total-width: 209px;
@clock-white-md-total-height: 188px;
@clock-white-md-image: '../images/spritesheet.png';
@clock-white-md: 191px 134px -191px -134px 15px 15px 209px 188px '../images/spritesheet.png';
@clock-yellow-x: 193px;
@clock-yellow-y: 152px;
@clock-yellow-offset-x: -193px;
@clock-yellow-offset-y: -152px;
@clock-yellow-width: 12px;
@clock-yellow-height: 12px;
@clock-yellow-total-width: 209px;
@clock-yellow-total-height: 188px;
@clock-yellow-image: '../images/spritesheet.png';
@clock-yellow: 193px 152px -193px -152px 12px 12px 209px 188px '../images/spritesheet.png';
@close-x: 58px;
@close-y: 171px;
@close-offset-x: -58px;
@close-offset-y: -171px;
@close-width: 17px;
@close-height: 17px;
@close-total-width: 209px;
@close-total-height: 188px;
@close-image: '../images/spritesheet.png';
@close: 58px 171px -58px -171px 17px 17px 209px 188px '../images/spritesheet.png';
@collapse-x: 96px;
@collapse-y: 66px;
@collapse-offset-x: -96px;
@collapse-offset-y: -66px;
@collapse-width: 17px;
@collapse-height: 17px;
@collapse-total-width: 209px;
@collapse-total-height: 188px;
@collapse-image: '../images/spritesheet.png';
@collapse: 96px 66px -96px -66px 17px 17px 209px 188px '../images/spritesheet.png';
@down-x: 105px;
@down-y: 171px;
@down-offset-x: -105px;
@down-offset-y: -171px;
@down-width: 11px;
@down-height: 9px;
@down-total-width: 209px;
@down-total-height: 188px;
@down-image: '../images/spritesheet.png';
@down: 105px 171px -105px -171px 11px 9px 209px 188px '../images/spritesheet.png';
@dropdown-small-x: 115px;
@dropdown-small-y: 66px;
@dropdown-small-offset-x: -115px;
@dropdown-small-offset-y: -66px;
@dropdown-small-width: 10px;
@dropdown-small-height: 4px;
@dropdown-small-total-width: 209px;
@dropdown-small-total-height: 188px;
@dropdown-small-image: '../images/spritesheet.png';
@dropdown-small: 115px 66px -115px -66px 10px 4px 209px 188px '../images/spritesheet.png';
@expand-x: 87px;
@expand-y: 152px;
@expand-offset-x: -87px;
@expand-offset-y: -152px;
@expand-width: 17px;
@expand-height: 17px;
@expand-total-width: 209px;
@expand-total-height: 188px;
@expand-image: '../images/spritesheet.png';
@expand: 87px 152px -87px -152px 17px 17px 209px 188px '../images/spritesheet.png';
@graph-down-spread-x: 127px;
@graph-down-spread-y: 0px;
@graph-down-spread-offset-x: -127px;
@graph-down-spread-offset-y: 0px;
@graph-down-spread-width: 82px;
@graph-down-spread-height: 27px;
@graph-down-spread-total-width: 209px;
@graph-down-spread-total-height: 188px;
@graph-down-spread-image: '../images/spritesheet.png';
@graph-down-spread: 127px 0px -127px 0px 82px 27px 209px 188px '../images/spritesheet.png';
@graph-up-spread-x: 127px;
@graph-up-spread-y: 29px;
@graph-up-spread-offset-x: -127px;
@graph-up-spread-offset-y: -29px;
@graph-up-spread-width: 82px;
@graph-up-spread-height: 27px;
@graph-up-spread-total-width: 209px;
@graph-up-spread-total-height: 188px;
@graph-up-spread-image: '../images/spritesheet.png';
@graph-up-spread: 127px 29px -127px -29px 82px 27px 209px 188px '../images/spritesheet.png';
@highlow-active-x: 127px;
@highlow-active-y: 109px;
@highlow-active-offset-x: -127px;
@highlow-active-offset-y: -109px;
@highlow-active-width: 38px;
@highlow-active-height: 23px;
@highlow-active-total-width: 209px;
@highlow-active-total-height: 188px;
@highlow-active-image: '../images/spritesheet.png';
@highlow-active: 127px 109px -127px -109px 38px 23px 209px 188px '../images/spritesheet.png';
@highlow-down-x: 131px;
@highlow-down-y: 171px;
@highlow-down-offset-x: -131px;
@highlow-down-offset-y: -171px;
@highlow-down-width: 11px;
@highlow-down-height: 9px;
@highlow-down-total-width: 209px;
@highlow-down-total-height: 188px;
@highlow-down-image: '../images/spritesheet.png';
@highlow-down: 131px 171px -131px -171px 11px 9px 209px 188px '../images/spritesheet.png';
@highlow-gold-x: 96px;
@highlow-gold-y: 85px;
@highlow-gold-offset-x: -96px;
@highlow-gold-offset-y: -85px;
@highlow-gold-width: 27px;
@highlow-gold-height: 17px;
@highlow-gold-total-width: 209px;
@highlow-gold-total-height: 188px;
@highlow-gold-image: '../images/spritesheet.png';
@highlow-gold: 96px 85px -96px -85px 27px 17px 209px 188px '../images/spritesheet.png';
@highlow-grey-x: 96px;
@highlow-grey-y: 104px;
@highlow-grey-offset-x: -96px;
@highlow-grey-offset-y: -104px;
@highlow-grey-width: 27px;
@highlow-grey-height: 17px;
@highlow-grey-total-width: 209px;
@highlow-grey-total-height: 188px;
@highlow-grey-image: '../images/spritesheet.png';
@highlow-grey: 96px 104px -96px -104px 27px 17px 209px 188px '../images/spritesheet.png';
@highlow-lose-x: 96px;
@highlow-lose-y: 123px;
@highlow-lose-offset-x: -96px;
@highlow-lose-offset-y: -123px;
@highlow-lose-width: 27px;
@highlow-lose-height: 17px;
@highlow-lose-total-width: 209px;
@highlow-lose-total-height: 188px;
@highlow-lose-image: '../images/spritesheet.png';
@highlow-lose: 96px 123px -96px -123px 27px 17px 209px 188px '../images/spritesheet.png';
@highlow-up-x: 118px;
@highlow-up-y: 171px;
@highlow-up-offset-x: -118px;
@highlow-up-offset-y: -171px;
@highlow-up-width: 11px;
@highlow-up-height: 9px;
@highlow-up-total-width: 209px;
@highlow-up-total-height: 188px;
@highlow-up-image: '../images/spritesheet.png';
@highlow-up: 118px 171px -118px -171px 11px 9px 209px 188px '../images/spritesheet.png';
@highlow-white-x: 29px;
@highlow-white-y: 152px;
@highlow-white-offset-x: -29px;
@highlow-white-offset-y: -152px;
@highlow-white-width: 27px;
@highlow-white-height: 17px;
@highlow-white-total-width: 209px;
@highlow-white-total-height: 188px;
@highlow-white-image: '../images/spritesheet.png';
@highlow-white: 29px 152px -29px -152px 27px 17px 209px 188px '../images/spritesheet.png';
@highlow-win-x: 0px;
@highlow-win-y: 152px;
@highlow-win-offset-x: 0px;
@highlow-win-offset-y: -152px;
@highlow-win-width: 27px;
@highlow-win-height: 17px;
@highlow-win-total-width: 209px;
@highlow-win-total-height: 188px;
@highlow-win-image: '../images/spritesheet.png';
@highlow-win: 0px 152px 0px -152px 27px 17px 209px 188px '../images/spritesheet.png';
@highlow-x: 167px;
@highlow-y: 84px;
@highlow-offset-x: -167px;
@highlow-offset-y: -84px;
@highlow-width: 38px;
@highlow-height: 23px;
@highlow-total-width: 209px;
@highlow-total-height: 188px;
@highlow-image: '../images/spritesheet.png';
@highlow: 167px 84px -167px -84px 38px 23px 209px 188px '../images/spritesheet.png';
@on-demand-active-x: 96px;
@on-demand-active-y: 33px;
@on-demand-active-offset-x: -96px;
@on-demand-active-offset-y: -33px;
@on-demand-active-width: 29px;
@on-demand-active-height: 31px;
@on-demand-active-total-width: 209px;
@on-demand-active-total-height: 188px;
@on-demand-active-image: '../images/spritesheet.png';
@on-demand-active: 96px 33px -96px -33px 29px 31px 209px 188px '../images/spritesheet.png';
@on-demand-lose-x: 135px;
@on-demand-lose-y: 152px;
@on-demand-lose-offset-x: -135px;
@on-demand-lose-offset-y: -152px;
@on-demand-lose-width: 27px;
@on-demand-lose-height: 17px;
@on-demand-lose-total-width: 209px;
@on-demand-lose-total-height: 188px;
@on-demand-lose-image: '../images/spritesheet.png';
@on-demand-lose: 135px 152px -135px -152px 27px 17px 209px 188px '../images/spritesheet.png';
@on-demand-tie-x: 164px;
@on-demand-tie-y: 152px;
@on-demand-tie-offset-x: -164px;
@on-demand-tie-offset-y: -152px;
@on-demand-tie-width: 27px;
@on-demand-tie-height: 17px;
@on-demand-tie-total-width: 209px;
@on-demand-tie-total-height: 188px;
@on-demand-tie-image: '../images/spritesheet.png';
@on-demand-tie: 164px 152px -164px -152px 27px 17px 209px 188px '../images/spritesheet.png';
@on-demand-win-x: 0px;
@on-demand-win-y: 171px;
@on-demand-win-offset-x: 0px;
@on-demand-win-offset-y: -171px;
@on-demand-win-width: 27px;
@on-demand-win-height: 17px;
@on-demand-win-total-width: 209px;
@on-demand-win-total-height: 188px;
@on-demand-win-image: '../images/spritesheet.png';
@on-demand-win: 0px 171px 0px -171px 27px 17px 209px 188px '../images/spritesheet.png';
@on-demand-x: 96px;
@on-demand-y: 0px;
@on-demand-offset-x: -96px;
@on-demand-offset-y: 0px;
@on-demand-width: 29px;
@on-demand-height: 31px;
@on-demand-total-width: 209px;
@on-demand-total-height: 188px;
@on-demand-image: '../images/spritesheet.png';
@on-demand: 96px 0px -96px 0px 29px 31px 209px 188px '../images/spritesheet.png';
@one-click-inactive-x: 177px;
@one-click-inactive-y: 58px;
@one-click-inactive-offset-x: -177px;
@one-click-inactive-offset-y: -58px;
@one-click-inactive-width: 22px;
@one-click-inactive-height: 24px;
@one-click-inactive-total-width: 209px;
@one-click-inactive-total-height: 188px;
@one-click-inactive-image: '../images/spritesheet.png';
@one-click-inactive: 177px 58px -177px -58px 22px 24px 209px 188px '../images/spritesheet.png';
@one-click-x: 153px;
@one-click-y: 58px;
@one-click-offset-x: -153px;
@one-click-offset-y: -58px;
@one-click-width: 22px;
@one-click-height: 24px;
@one-click-total-width: 209px;
@one-click-total-height: 188px;
@one-click-image: '../images/spritesheet.png';
@one-click: 153px 58px -153px -58px 22px 24px 209px 188px '../images/spritesheet.png';
@select-lose-x: 176px;
@select-lose-y: 134px;
@select-lose-offset-x: -176px;
@select-lose-offset-y: -134px;
@select-lose-width: 13px;
@select-lose-height: 15px;
@select-lose-total-width: 209px;
@select-lose-total-height: 188px;
@select-lose-image: '../images/spritesheet.png';
@select-lose: 176px 134px -176px -134px 13px 15px 209px 188px '../images/spritesheet.png';
@select-tie-x: 127px;
@select-tie-y: 134px;
@select-tie-offset-x: -127px;
@select-tie-offset-y: -134px;
@select-tie-width: 13px;
@select-tie-height: 15px;
@select-tie-total-width: 209px;
@select-tie-total-height: 188px;
@select-tie-image: '../images/spritesheet.png';
@select-tie: 127px 134px -127px -134px 13px 15px 209px 188px '../images/spritesheet.png';
@select-win-x: 142px;
@select-win-y: 134px;
@select-win-offset-x: -142px;
@select-win-offset-y: -134px;
@select-win-width: 13px;
@select-win-height: 15px;
@select-win-total-width: 209px;
@select-win-total-height: 188px;
@select-win-image: '../images/spritesheet.png';
@select-win: 142px 134px -142px -134px 13px 15px 209px 188px '../images/spritesheet.png';
@slider-fade-left-x: 0px;
@slider-fade-left-y: 0px;
@slider-fade-left-offset-x: 0px;
@slider-fade-left-offset-y: 0px;
@slider-fade-left-width: 46px;
@slider-fade-left-height: 150px;
@slider-fade-left-total-width: 209px;
@slider-fade-left-total-height: 188px;
@slider-fade-left-image: '../images/spritesheet.png';
@slider-fade-left: 0px 0px 0px 0px 46px 150px 209px 188px '../images/spritesheet.png';
@slider-fade-right-x: 48px;
@slider-fade-right-y: 0px;
@slider-fade-right-offset-x: -48px;
@slider-fade-right-offset-y: 0px;
@slider-fade-right-width: 46px;
@slider-fade-right-height: 150px;
@slider-fade-right-total-width: 209px;
@slider-fade-right-total-height: 188px;
@slider-fade-right-image: '../images/spritesheet.png';
@slider-fade-right: 48px 0px -48px 0px 46px 150px 209px 188px '../images/spritesheet.png';
@spread-active-x: 167px;
@spread-active-y: 109px;
@spread-active-offset-x: -167px;
@spread-active-offset-y: -109px;
@spread-active-width: 38px;
@spread-active-height: 23px;
@spread-active-total-width: 209px;
@spread-active-total-height: 188px;
@spread-active-image: '../images/spritesheet.png';
@spread-active: 167px 109px -167px -109px 38px 23px 209px 188px '../images/spritesheet.png';
@spread-lose-x: 29px;
@spread-lose-y: 171px;
@spread-lose-offset-x: -29px;
@spread-lose-offset-y: -171px;
@spread-lose-width: 27px;
@spread-lose-height: 17px;
@spread-lose-total-width: 209px;
@spread-lose-total-height: 188px;
@spread-lose-image: '../images/spritesheet.png';
@spread-lose: 29px 171px -29px -171px 27px 17px 209px 188px '../images/spritesheet.png';
@spread-tie-x: 106px;
@spread-tie-y: 152px;
@spread-tie-offset-x: -106px;
@spread-tie-offset-y: -152px;
@spread-tie-width: 27px;
@spread-tie-height: 17px;
@spread-tie-total-width: 209px;
@spread-tie-total-height: 188px;
@spread-tie-image: '../images/spritesheet.png';
@spread-tie: 106px 152px -106px -152px 27px 17px 209px 188px '../images/spritesheet.png';
@spread-win-x: 58px;
@spread-win-y: 152px;
@spread-win-offset-x: -58px;
@spread-win-offset-y: -152px;
@spread-win-width: 27px;
@spread-win-height: 17px;
@spread-win-total-width: 209px;
@spread-win-total-height: 188px;
@spread-win-image: '../images/spritesheet.png';
@spread-win: 58px 152px -58px -152px 27px 17px 209px 188px '../images/spritesheet.png';
@spread-x: 127px;
@spread-y: 84px;
@spread-offset-x: -127px;
@spread-offset-y: -84px;
@spread-width: 38px;
@spread-height: 23px;
@spread-total-width: 209px;
@spread-total-height: 188px;
@spread-image: '../images/spritesheet.png';
@spread: 127px 84px -127px -84px 38px 23px 209px 188px '../images/spritesheet.png';
@timer-x: 157px;
@timer-y: 134px;
@timer-offset-x: -157px;
@timer-offset-y: -134px;
@timer-width: 17px;
@timer-height: 15px;
@timer-total-width: 209px;
@timer-total-height: 188px;
@timer-image: '../images/spritesheet.png';
@timer: 157px 134px -157px -134px 17px 15px 209px 188px '../images/spritesheet.png';
@up-x: 144px;
@up-y: 171px;
@up-offset-x: -144px;
@up-offset-y: -171px;
@up-width: 11px;
@up-height: 9px;
@up-total-width: 209px;
@up-total-height: 188px;
@up-image: '../images/spritesheet.png';
@up: 144px 171px -144px -171px 11px 9px 209px 188px '../images/spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
