/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@alert-close-x: 96px;
@alert-close-y: 0px;
@alert-close-offset-x: -96px;
@alert-close-offset-y: 0px;
@alert-close-width: 42px;
@alert-close-height: 42px;
@alert-close-total-width: 278px;
@alert-close-total-height: 248px;
@alert-close-image: '../images/spritesheet.png';
@alert-close: 96px 0px -96px 0px 42px 42px 278px 248px '../images/spritesheet.png';
@arrow-left-hover-x: 197px;
@arrow-left-hover-y: 114px;
@arrow-left-hover-offset-x: -197px;
@arrow-left-hover-offset-y: -114px;
@arrow-left-hover-width: 11px;
@arrow-left-hover-height: 24px;
@arrow-left-hover-total-width: 278px;
@arrow-left-hover-total-height: 248px;
@arrow-left-hover-image: '../images/spritesheet.png';
@arrow-left-hover: 197px 114px -197px -114px 11px 24px 278px 248px '../images/spritesheet.png';
@arrow-left-x: 184px;
@arrow-left-y: 114px;
@arrow-left-offset-x: -184px;
@arrow-left-offset-y: -114px;
@arrow-left-width: 11px;
@arrow-left-height: 24px;
@arrow-left-total-width: 278px;
@arrow-left-total-height: 248px;
@arrow-left-image: '../images/spritesheet.png';
@arrow-left: 184px 114px -184px -114px 11px 24px 278px 248px '../images/spritesheet.png';
@arrow-right-hover-x: 169px;
@arrow-right-hover-y: 88px;
@arrow-right-hover-offset-x: -169px;
@arrow-right-hover-offset-y: -88px;
@arrow-right-hover-width: 11px;
@arrow-right-hover-height: 24px;
@arrow-right-hover-total-width: 278px;
@arrow-right-hover-total-height: 248px;
@arrow-right-hover-image: '../images/spritesheet.png';
@arrow-right-hover: 169px 88px -169px -88px 11px 24px 278px 248px '../images/spritesheet.png';
@arrow-right-x: 169px;
@arrow-right-y: 117px;
@arrow-right-offset-x: -169px;
@arrow-right-offset-y: -117px;
@arrow-right-width: 11px;
@arrow-right-height: 24px;
@arrow-right-total-width: 278px;
@arrow-right-total-height: 248px;
@arrow-right-image: '../images/spritesheet.png';
@arrow-right: 169px 117px -169px -117px 11px 24px 278px 248px '../images/spritesheet.png';
@clock-dark-x: 213px;
@clock-dark-y: 122px;
@clock-dark-offset-x: -213px;
@clock-dark-offset-y: -122px;
@clock-dark-width: 12px;
@clock-dark-height: 12px;
@clock-dark-total-width: 278px;
@clock-dark-total-height: 248px;
@clock-dark-image: '../images/spritesheet.png';
@clock-dark: 213px 122px -213px -122px 12px 12px 278px 248px '../images/spritesheet.png';
@clock-grey-x: 213px;
@clock-grey-y: 94px;
@clock-grey-offset-x: -213px;
@clock-grey-offset-y: -94px;
@clock-grey-width: 12px;
@clock-grey-height: 12px;
@clock-grey-total-width: 278px;
@clock-grey-total-height: 248px;
@clock-grey-image: '../images/spritesheet.png';
@clock-grey: 213px 94px -213px -94px 12px 12px 278px 248px '../images/spritesheet.png';
@clock-white-md-x: 252px;
@clock-white-md-y: 123px;
@clock-white-md-offset-x: -252px;
@clock-white-md-offset-y: -123px;
@clock-white-md-width: 15px;
@clock-white-md-height: 15px;
@clock-white-md-total-width: 278px;
@clock-white-md-total-height: 248px;
@clock-white-md-image: '../images/spritesheet.png';
@clock-white-md: 252px 123px -252px -123px 15px 15px 278px 248px '../images/spritesheet.png';
@clock-yellow-x: 213px;
@clock-yellow-y: 108px;
@clock-yellow-offset-x: -213px;
@clock-yellow-offset-y: -108px;
@clock-yellow-width: 12px;
@clock-yellow-height: 12px;
@clock-yellow-total-width: 278px;
@clock-yellow-total-height: 248px;
@clock-yellow-image: '../images/spritesheet.png';
@clock-yellow: 213px 108px -213px -108px 12px 12px 278px 248px '../images/spritesheet.png';
@close-hover-x: 231px;
@close-hover-y: 40px;
@close-hover-offset-x: -231px;
@close-hover-offset-y: -40px;
@close-hover-width: 17px;
@close-hover-height: 17px;
@close-hover-total-width: 278px;
@close-hover-total-height: 248px;
@close-hover-image: '../images/spritesheet.png';
@close-hover: 231px 40px -231px -40px 17px 17px 278px 248px '../images/spritesheet.png';
@close-x: 231px;
@close-y: 116px;
@close-offset-x: -231px;
@close-offset-y: -116px;
@close-width: 17px;
@close-height: 17px;
@close-total-width: 278px;
@close-total-height: 248px;
@close-image: '../images/spritesheet.png';
@close: 231px 116px -231px -116px 17px 17px 278px 248px '../images/spritesheet.png';
@closing-time-x: 252px;
@closing-time-y: 106px;
@closing-time-offset-x: -252px;
@closing-time-offset-y: -106px;
@closing-time-width: 15px;
@closing-time-height: 15px;
@closing-time-total-width: 278px;
@closing-time-total-height: 248px;
@closing-time-image: '../images/spritesheet.png';
@closing-time: 252px 106px -252px -106px 15px 15px 278px 248px '../images/spritesheet.png';
@collapse-hover-x: 231px;
@collapse-hover-y: 78px;
@collapse-hover-offset-x: -231px;
@collapse-hover-offset-y: -78px;
@collapse-hover-width: 17px;
@collapse-hover-height: 17px;
@collapse-hover-total-width: 278px;
@collapse-hover-total-height: 248px;
@collapse-hover-image: '../images/spritesheet.png';
@collapse-hover: 231px 78px -231px -78px 17px 17px 278px 248px '../images/spritesheet.png';
@collapse-x: 231px;
@collapse-y: 21px;
@collapse-offset-x: -231px;
@collapse-offset-y: -21px;
@collapse-width: 17px;
@collapse-height: 17px;
@collapse-total-width: 278px;
@collapse-total-height: 248px;
@collapse-image: '../images/spritesheet.png';
@collapse: 231px 21px -231px -21px 17px 17px 278px 248px '../images/spritesheet.png';
@deposit-hover-x: 184px;
@deposit-hover-y: 29px;
@deposit-hover-offset-x: -184px;
@deposit-hover-offset-y: -29px;
@deposit-hover-width: 27px;
@deposit-hover-height: 27px;
@deposit-hover-total-width: 278px;
@deposit-hover-total-height: 248px;
@deposit-hover-image: '../images/spritesheet.png';
@deposit-hover: 184px 29px -184px -29px 27px 27px 278px 248px '../images/spritesheet.png';
@deposit-x: 184px;
@deposit-y: 0px;
@deposit-offset-x: -184px;
@deposit-offset-y: 0px;
@deposit-width: 27px;
@deposit-height: 27px;
@deposit-total-width: 278px;
@deposit-total-height: 248px;
@deposit-image: '../images/spritesheet.png';
@deposit: 184px 0px -184px 0px 27px 27px 278px 248px '../images/spritesheet.png';
@down-in-active-x: 213px;
@down-in-active-y: 147px;
@down-in-active-offset-x: -213px;
@down-in-active-offset-y: -147px;
@down-in-active-width: 11px;
@down-in-active-height: 9px;
@down-in-active-total-width: 278px;
@down-in-active-total-height: 248px;
@down-in-active-image: '../images/spritesheet.png';
@down-in-active: 213px 147px -213px -147px 11px 9px 278px 248px '../images/spritesheet.png';
@down-x: 213px;
@down-y: 180px;
@down-offset-x: -213px;
@down-offset-y: -180px;
@down-width: 11px;
@down-height: 9px;
@down-total-width: 278px;
@down-total-height: 248px;
@down-image: '../images/spritesheet.png';
@down: 213px 180px -213px -180px 11px 9px 278px 248px '../images/spritesheet.png';
@dropdown-small-x: 267px;
@dropdown-small-y: 83px;
@dropdown-small-offset-x: -267px;
@dropdown-small-offset-y: -83px;
@dropdown-small-width: 10px;
@dropdown-small-height: 4px;
@dropdown-small-total-width: 278px;
@dropdown-small-total-height: 248px;
@dropdown-small-image: '../images/spritesheet.png';
@dropdown-small: 267px 83px -267px -83px 10px 4px 278px 248px '../images/spritesheet.png';
@error-close-x: 140px;
@error-close-y: 44px;
@error-close-offset-x: -140px;
@error-close-offset-y: -44px;
@error-close-width: 42px;
@error-close-height: 42px;
@error-close-total-width: 278px;
@error-close-total-height: 248px;
@error-close-image: '../images/spritesheet.png';
@error-close: 140px 44px -140px -44px 42px 42px 278px 248px '../images/spritesheet.png';
@error-icon-x: 231px;
@error-icon-y: 197px;
@error-icon-offset-x: -231px;
@error-icon-offset-y: -197px;
@error-icon-width: 12px;
@error-icon-height: 12px;
@error-icon-total-width: 278px;
@error-icon-total-height: 248px;
@error-icon-image: '../images/spritesheet.png';
@error-icon: 231px 197px -231px -197px 12px 12px 278px 248px '../images/spritesheet.png';
@expand-hover-x: 231px;
@expand-hover-y: 59px;
@expand-hover-offset-x: -231px;
@expand-hover-offset-y: -59px;
@expand-hover-width: 17px;
@expand-hover-height: 17px;
@expand-hover-total-width: 278px;
@expand-hover-total-height: 248px;
@expand-hover-image: '../images/spritesheet.png';
@expand-hover: 231px 59px -231px -59px 17px 17px 278px 248px '../images/spritesheet.png';
@expand-x: 231px;
@expand-y: 97px;
@expand-offset-x: -231px;
@expand-offset-y: -97px;
@expand-width: 17px;
@expand-height: 17px;
@expand-total-width: 278px;
@expand-total-height: 248px;
@expand-image: '../images/spritesheet.png';
@expand: 231px 97px -231px -97px 17px 17px 278px 248px '../images/spritesheet.png';
@extreme-grey-sm-x: 184px;
@extreme-grey-sm-y: 58px;
@extreme-grey-sm-offset-x: -184px;
@extreme-grey-sm-offset-y: -58px;
@extreme-grey-sm-width: 20px;
@extreme-grey-sm-height: 26px;
@extreme-grey-sm-total-width: 278px;
@extreme-grey-sm-total-height: 248px;
@extreme-grey-sm-image: '../images/spritesheet.png';
@extreme-grey-sm: 184px 58px -184px -58px 20px 26px 278px 248px '../images/spritesheet.png';
@extreme-on-demand-lose-x: 79px;
@extreme-on-demand-lose-y: 207px;
@extreme-on-demand-lose-offset-x: -79px;
@extreme-on-demand-lose-offset-y: -207px;
@extreme-on-demand-lose-width: 18px;
@extreme-on-demand-lose-height: 22px;
@extreme-on-demand-lose-total-width: 278px;
@extreme-on-demand-lose-total-height: 248px;
@extreme-on-demand-lose-image: '../images/spritesheet.png';
@extreme-on-demand-lose: 79px 207px -79px -207px 18px 22px 278px 248px '../images/spritesheet.png';
@extreme-on-demand-tie-x: 59px;
@extreme-on-demand-tie-y: 207px;
@extreme-on-demand-tie-offset-x: -59px;
@extreme-on-demand-tie-offset-y: -207px;
@extreme-on-demand-tie-width: 18px;
@extreme-on-demand-tie-height: 22px;
@extreme-on-demand-tie-total-width: 278px;
@extreme-on-demand-tie-total-height: 248px;
@extreme-on-demand-tie-image: '../images/spritesheet.png';
@extreme-on-demand-tie: 59px 207px -59px -207px 18px 22px 278px 248px '../images/spritesheet.png';
@extreme-on-demand-win-x: 39px;
@extreme-on-demand-win-y: 207px;
@extreme-on-demand-win-offset-x: -39px;
@extreme-on-demand-win-offset-y: -207px;
@extreme-on-demand-win-width: 18px;
@extreme-on-demand-win-height: 22px;
@extreme-on-demand-win-total-width: 278px;
@extreme-on-demand-win-total-height: 248px;
@extreme-on-demand-win-image: '../images/spritesheet.png';
@extreme-on-demand-win: 39px 207px -39px -207px 18px 22px 278px 248px '../images/spritesheet.png';
@extreme-red-sm-x: 184px;
@extreme-red-sm-y: 86px;
@extreme-red-sm-offset-x: -184px;
@extreme-red-sm-offset-y: -86px;
@extreme-red-sm-width: 20px;
@extreme-red-sm-height: 26px;
@extreme-red-sm-total-width: 278px;
@extreme-red-sm-total-height: 248px;
@extreme-red-sm-image: '../images/spritesheet.png';
@extreme-red-sm: 184px 86px -184px -86px 20px 26px 278px 248px '../images/spritesheet.png';
@favourite-active-selected-x: 231px;
@favourite-active-selected-y: 152px;
@favourite-active-selected-offset-x: -231px;
@favourite-active-selected-offset-y: -152px;
@favourite-active-selected-width: 15px;
@favourite-active-selected-height: 15px;
@favourite-active-selected-total-width: 278px;
@favourite-active-selected-total-height: 248px;
@favourite-active-selected-image: '../images/spritesheet.png';
@favourite-active-selected: 231px 152px -231px -152px 15px 15px 278px 248px '../images/spritesheet.png';
@favourite-active-x: 231px;
@favourite-active-y: 135px;
@favourite-active-offset-x: -231px;
@favourite-active-offset-y: -135px;
@favourite-active-width: 15px;
@favourite-active-height: 15px;
@favourite-active-total-width: 278px;
@favourite-active-total-height: 248px;
@favourite-active-image: '../images/spritesheet.png';
@favourite-active: 231px 135px -231px -135px 15px 15px 278px 248px '../images/spritesheet.png';
@favourite-hover-x: 252px;
@favourite-hover-y: 208px;
@favourite-hover-offset-x: -252px;
@favourite-hover-offset-y: -208px;
@favourite-hover-width: 15px;
@favourite-hover-height: 15px;
@favourite-hover-total-width: 278px;
@favourite-hover-total-height: 248px;
@favourite-hover-image: '../images/spritesheet.png';
@favourite-hover: 252px 208px -252px -208px 15px 15px 278px 248px '../images/spritesheet.png';
@favourite-sm-x: 252px;
@favourite-sm-y: 191px;
@favourite-sm-offset-x: -252px;
@favourite-sm-offset-y: -191px;
@favourite-sm-width: 15px;
@favourite-sm-height: 15px;
@favourite-sm-total-width: 278px;
@favourite-sm-total-height: 248px;
@favourite-sm-image: '../images/spritesheet.png';
@favourite-sm: 252px 191px -252px -191px 15px 15px 278px 248px '../images/spritesheet.png';
@favourite-x: 252px;
@favourite-y: 157px;
@favourite-offset-x: -252px;
@favourite-offset-y: -157px;
@favourite-width: 15px;
@favourite-height: 15px;
@favourite-total-width: 278px;
@favourite-total-height: 248px;
@favourite-image: '../images/spritesheet.png';
@favourite: 252px 157px -252px -157px 15px 15px 278px 248px '../images/spritesheet.png';
@general-close-x: 140px;
@general-close-y: 0px;
@general-close-offset-x: -140px;
@general-close-offset-y: 0px;
@general-close-width: 42px;
@general-close-height: 42px;
@general-close-total-width: 278px;
@general-close-total-height: 248px;
@general-close-image: '../images/spritesheet.png';
@general-close: 140px 0px -140px 0px 42px 42px 278px 248px '../images/spritesheet.png';
@generic-icon-x: 231px;
@generic-icon-y: 183px;
@generic-icon-offset-x: -231px;
@generic-icon-offset-y: -183px;
@generic-icon-width: 12px;
@generic-icon-height: 12px;
@generic-icon-total-width: 278px;
@generic-icon-total-height: 248px;
@generic-icon-image: '../images/spritesheet.png';
@generic-icon: 231px 183px -231px -183px 12px 12px 278px 248px '../images/spritesheet.png';
@graph-down-spread-x: 84px;
@graph-down-spread-y: 152px;
@graph-down-spread-offset-x: -84px;
@graph-down-spread-offset-y: -152px;
@graph-down-spread-width: 82px;
@graph-down-spread-height: 27px;
@graph-down-spread-total-width: 278px;
@graph-down-spread-total-height: 248px;
@graph-down-spread-image: '../images/spritesheet.png';
@graph-down-spread: 84px 152px -84px -152px 82px 27px 278px 248px '../images/spritesheet.png';
@graph-up-spread-x: 0px;
@graph-up-spread-y: 152px;
@graph-up-spread-offset-x: 0px;
@graph-up-spread-offset-y: -152px;
@graph-up-spread-width: 82px;
@graph-up-spread-height: 27px;
@graph-up-spread-total-width: 278px;
@graph-up-spread-total-height: 248px;
@graph-up-spread-image: '../images/spritesheet.png';
@graph-up-spread: 0px 152px 0px -152px 82px 27px 278px 248px '../images/spritesheet.png';
@heatmap-expand-x: 213px;
@heatmap-expand-y: 72px;
@heatmap-expand-offset-x: -213px;
@heatmap-expand-offset-y: -72px;
@heatmap-expand-width: 13px;
@heatmap-expand-height: 20px;
@heatmap-expand-total-width: 278px;
@heatmap-expand-total-height: 248px;
@heatmap-expand-image: '../images/spritesheet.png';
@heatmap-expand: 213px 72px -213px -72px 13px 20px 278px 248px '../images/spritesheet.png';
@highlow-active-x: 168px;
@highlow-active-y: 181px;
@highlow-active-offset-x: -168px;
@highlow-active-offset-y: -181px;
@highlow-active-width: 36px;
@highlow-active-height: 22px;
@highlow-active-total-width: 278px;
@highlow-active-total-height: 248px;
@highlow-active-image: '../images/spritesheet.png';
@highlow-active: 168px 181px -168px -181px 36px 22px 278px 248px '../images/spritesheet.png';
@highlow-down-dead-x: 267px;
@highlow-down-dead-y: 140px;
@highlow-down-dead-offset-x: -267px;
@highlow-down-dead-offset-y: -140px;
@highlow-down-dead-width: 11px;
@highlow-down-dead-height: 9px;
@highlow-down-dead-total-width: 278px;
@highlow-down-dead-total-height: 248px;
@highlow-down-dead-image: '../images/spritesheet.png';
@highlow-down-dead: 267px 140px -267px -140px 11px 9px 278px 248px '../images/spritesheet.png';
@highlow-down-in-active-x: 213px;
@highlow-down-in-active-y: 169px;
@highlow-down-in-active-offset-x: -213px;
@highlow-down-in-active-offset-y: -169px;
@highlow-down-in-active-width: 11px;
@highlow-down-in-active-height: 9px;
@highlow-down-in-active-total-width: 278px;
@highlow-down-in-active-total-height: 248px;
@highlow-down-in-active-image: '../images/spritesheet.png';
@highlow-down-in-active: 213px 169px -213px -169px 11px 9px 278px 248px '../images/spritesheet.png';
@highlow-down-x: 213px;
@highlow-down-y: 136px;
@highlow-down-offset-x: -213px;
@highlow-down-offset-y: -136px;
@highlow-down-width: 11px;
@highlow-down-height: 9px;
@highlow-down-total-width: 278px;
@highlow-down-total-height: 248px;
@highlow-down-image: '../images/spritesheet.png';
@highlow-down: 213px 136px -213px -136px 11px 9px 278px 248px '../images/spritesheet.png';
@highlow-gold-x: 252px;
@highlow-gold-y: 0px;
@highlow-gold-offset-x: -252px;
@highlow-gold-offset-y: 0px;
@highlow-gold-width: 26px;
@highlow-gold-height: 16px;
@highlow-gold-total-width: 278px;
@highlow-gold-total-height: 248px;
@highlow-gold-image: '../images/spritesheet.png';
@highlow-gold: 252px 0px -252px 0px 26px 16px 278px 248px '../images/spritesheet.png';
@highlow-grey-x: 215px;
@highlow-grey-y: 231px;
@highlow-grey-offset-x: -215px;
@highlow-grey-offset-y: -231px;
@highlow-grey-width: 26px;
@highlow-grey-height: 16px;
@highlow-grey-total-width: 278px;
@highlow-grey-total-height: 248px;
@highlow-grey-image: '../images/spritesheet.png';
@highlow-grey: 215px 231px -215px -231px 26px 16px 278px 248px '../images/spritesheet.png';
@highlow-lose-x: 187px;
@highlow-lose-y: 231px;
@highlow-lose-offset-x: -187px;
@highlow-lose-offset-y: -231px;
@highlow-lose-width: 26px;
@highlow-lose-height: 16px;
@highlow-lose-total-width: 278px;
@highlow-lose-total-height: 248px;
@highlow-lose-image: '../images/spritesheet.png';
@highlow-lose: 187px 231px -187px -231px 26px 16px 278px 248px '../images/spritesheet.png';
@highlow-up-dead-x: 184px;
@highlow-up-dead-y: 166px;
@highlow-up-dead-offset-x: -184px;
@highlow-up-dead-offset-y: -166px;
@highlow-up-dead-width: 11px;
@highlow-up-dead-height: 9px;
@highlow-up-dead-total-width: 278px;
@highlow-up-dead-total-height: 248px;
@highlow-up-dead-image: '../images/spritesheet.png';
@highlow-up-dead: 184px 166px -184px -166px 11px 9px 278px 248px '../images/spritesheet.png';
@highlow-up-in-active-x: 213px;
@highlow-up-in-active-y: 191px;
@highlow-up-in-active-offset-x: -213px;
@highlow-up-in-active-offset-y: -191px;
@highlow-up-in-active-width: 11px;
@highlow-up-in-active-height: 9px;
@highlow-up-in-active-total-width: 278px;
@highlow-up-in-active-total-height: 248px;
@highlow-up-in-active-image: '../images/spritesheet.png';
@highlow-up-in-active: 213px 191px -213px -191px 11px 9px 278px 248px '../images/spritesheet.png';
@highlow-up-x: 267px;
@highlow-up-y: 225px;
@highlow-up-offset-x: -267px;
@highlow-up-offset-y: -225px;
@highlow-up-width: 11px;
@highlow-up-height: 9px;
@highlow-up-total-width: 278px;
@highlow-up-total-height: 248px;
@highlow-up-image: '../images/spritesheet.png';
@highlow-up: 267px 225px -267px -225px 11px 9px 278px 248px '../images/spritesheet.png';
@highlow-white-x: 252px;
@highlow-white-y: 54px;
@highlow-white-offset-x: -252px;
@highlow-white-offset-y: -54px;
@highlow-white-width: 26px;
@highlow-white-height: 16px;
@highlow-white-total-width: 278px;
@highlow-white-total-height: 248px;
@highlow-white-image: '../images/spritesheet.png';
@highlow-white: 252px 54px -252px -54px 26px 16px 278px 248px '../images/spritesheet.png';
@highlow-win-x: 159px;
@highlow-win-y: 231px;
@highlow-win-offset-x: -159px;
@highlow-win-offset-y: -231px;
@highlow-win-width: 26px;
@highlow-win-height: 16px;
@highlow-win-total-width: 278px;
@highlow-win-total-height: 248px;
@highlow-win-image: '../images/spritesheet.png';
@highlow-win: 159px 231px -159px -231px 26px 16px 278px 248px '../images/spritesheet.png';
@highlow-x: 130px;
@highlow-y: 181px;
@highlow-offset-x: -130px;
@highlow-offset-y: -181px;
@highlow-width: 36px;
@highlow-height: 22px;
@highlow-total-width: 278px;
@highlow-total-height: 248px;
@highlow-image: '../images/spritesheet.png';
@highlow: 130px 181px -130px -181px 36px 22px 278px 248px '../images/spritesheet.png';
@magnifier-x: 231px;
@magnifier-y: 0px;
@magnifier-offset-x: -231px;
@magnifier-offset-y: 0px;
@magnifier-width: 19px;
@magnifier-height: 19px;
@magnifier-total-width: 278px;
@magnifier-total-height: 248px;
@magnifier-image: '../images/spritesheet.png';
@magnifier: 231px 0px -231px 0px 19px 19px 278px 248px '../images/spritesheet.png';
@on-demand-active-x: 213px;
@on-demand-active-y: 48px;
@on-demand-active-offset-x: -213px;
@on-demand-active-offset-y: -48px;
@on-demand-active-width: 16px;
@on-demand-active-height: 22px;
@on-demand-active-total-width: 278px;
@on-demand-active-total-height: 248px;
@on-demand-active-image: '../images/spritesheet.png';
@on-demand-active: 213px 48px -213px -48px 16px 22px 278px 248px '../images/spritesheet.png';
@on-demand-lose-x: 106px;
@on-demand-lose-y: 231px;
@on-demand-lose-offset-x: -106px;
@on-demand-lose-offset-y: -231px;
@on-demand-lose-width: 24px;
@on-demand-lose-height: 17px;
@on-demand-lose-total-width: 278px;
@on-demand-lose-total-height: 248px;
@on-demand-lose-image: '../images/spritesheet.png';
@on-demand-lose: 106px 231px -106px -231px 24px 17px 278px 248px '../images/spritesheet.png';
@on-demand-tie-x: 80px;
@on-demand-tie-y: 231px;
@on-demand-tie-offset-x: -80px;
@on-demand-tie-offset-y: -231px;
@on-demand-tie-width: 24px;
@on-demand-tie-height: 17px;
@on-demand-tie-total-width: 278px;
@on-demand-tie-total-height: 248px;
@on-demand-tie-image: '../images/spritesheet.png';
@on-demand-tie: 80px 231px -80px -231px 24px 17px 278px 248px '../images/spritesheet.png';
@on-demand-win-x: 54px;
@on-demand-win-y: 231px;
@on-demand-win-offset-x: -54px;
@on-demand-win-offset-y: -231px;
@on-demand-win-width: 24px;
@on-demand-win-height: 17px;
@on-demand-win-total-width: 278px;
@on-demand-win-total-height: 248px;
@on-demand-win-image: '../images/spritesheet.png';
@on-demand-win: 54px 231px -54px -231px 24px 17px 278px 248px '../images/spritesheet.png';
@on-demand-x: 213px;
@on-demand-y: 24px;
@on-demand-offset-x: -213px;
@on-demand-offset-y: -24px;
@on-demand-width: 16px;
@on-demand-height: 22px;
@on-demand-total-width: 278px;
@on-demand-total-height: 248px;
@on-demand-image: '../images/spritesheet.png';
@on-demand: 213px 24px -213px -24px 16px 22px 278px 248px '../images/spritesheet.png';
@one-click-hover-x: 184px;
@one-click-hover-y: 140px;
@one-click-hover-offset-x: -184px;
@one-click-hover-offset-y: -140px;
@one-click-hover-width: 22px;
@one-click-hover-height: 24px;
@one-click-hover-total-width: 278px;
@one-click-hover-total-height: 248px;
@one-click-hover-image: '../images/spritesheet.png';
@one-click-hover: 184px 140px -184px -140px 22px 24px 278px 248px '../images/spritesheet.png';
@one-click-inactive-x: 0px;
@one-click-inactive-y: 181px;
@one-click-inactive-offset-x: 0px;
@one-click-inactive-offset-y: -181px;
@one-click-inactive-width: 22px;
@one-click-inactive-height: 24px;
@one-click-inactive-total-width: 278px;
@one-click-inactive-total-height: 248px;
@one-click-inactive-image: '../images/spritesheet.png';
@one-click-inactive: 0px 181px 0px -181px 22px 24px 278px 248px '../images/spritesheet.png';
@one-click-x: 24px;
@one-click-y: 181px;
@one-click-offset-x: -24px;
@one-click-offset-y: -181px;
@one-click-width: 22px;
@one-click-height: 24px;
@one-click-total-width: 278px;
@one-click-total-height: 248px;
@one-click-image: '../images/spritesheet.png';
@one-click: 24px 181px -24px -181px 22px 24px 278px 248px '../images/spritesheet.png';
@select-lose-x: 252px;
@select-lose-y: 225px;
@select-lose-offset-x: -252px;
@select-lose-offset-y: -225px;
@select-lose-width: 13px;
@select-lose-height: 15px;
@select-lose-total-width: 278px;
@select-lose-total-height: 248px;
@select-lose-image: '../images/spritesheet.png';
@select-lose: 252px 225px -252px -225px 13px 15px 278px 248px '../images/spritesheet.png';
@select-tie-x: 252px;
@select-tie-y: 72px;
@select-tie-offset-x: -252px;
@select-tie-offset-y: -72px;
@select-tie-width: 13px;
@select-tie-height: 15px;
@select-tie-total-width: 278px;
@select-tie-total-height: 248px;
@select-tie-image: '../images/spritesheet.png';
@select-tie: 252px 72px -252px -72px 13px 15px 278px 248px '../images/spritesheet.png';
@select-win-x: 252px;
@select-win-y: 140px;
@select-win-offset-x: -252px;
@select-win-offset-y: -140px;
@select-win-width: 13px;
@select-win-height: 15px;
@select-win-total-width: 278px;
@select-win-total-height: 248px;
@select-win-image: '../images/spritesheet.png';
@select-win: 252px 140px -252px -140px 13px 15px 278px 248px '../images/spritesheet.png';
@slider-fade-left-x: 48px;
@slider-fade-left-y: 0px;
@slider-fade-left-offset-x: -48px;
@slider-fade-left-offset-y: 0px;
@slider-fade-left-width: 46px;
@slider-fade-left-height: 150px;
@slider-fade-left-total-width: 278px;
@slider-fade-left-total-height: 248px;
@slider-fade-left-image: '../images/spritesheet.png';
@slider-fade-left: 48px 0px -48px 0px 46px 150px 278px 248px '../images/spritesheet.png';
@slider-fade-right-x: 0px;
@slider-fade-right-y: 0px;
@slider-fade-right-offset-x: 0px;
@slider-fade-right-offset-y: 0px;
@slider-fade-right-width: 46px;
@slider-fade-right-height: 150px;
@slider-fade-right-total-width: 278px;
@slider-fade-right-total-height: 248px;
@slider-fade-right-image: '../images/spritesheet.png';
@slider-fade-right: 0px 0px 0px 0px 46px 150px 278px 248px '../images/spritesheet.png';
@sm-close-x: 271px;
@sm-close-y: 89px;
@sm-close-offset-x: -271px;
@sm-close-offset-y: -89px;
@sm-close-width: 5px;
@sm-close-height: 8px;
@sm-close-total-width: 278px;
@sm-close-total-height: 248px;
@sm-close-image: '../images/spritesheet.png';
@sm-close: 271px 89px -271px -89px 5px 8px 278px 248px '../images/spritesheet.png';
@spread-active-x: 73px;
@spread-active-y: 181px;
@spread-active-offset-x: -73px;
@spread-active-offset-y: -181px;
@spread-active-width: 37px;
@spread-active-height: 22px;
@spread-active-total-width: 278px;
@spread-active-total-height: 248px;
@spread-active-image: '../images/spritesheet.png';
@spread-active: 73px 181px -73px -181px 37px 22px 278px 248px '../images/spritesheet.png';
@spread-lose-x: 132px;
@spread-lose-y: 231px;
@spread-lose-offset-x: -132px;
@spread-lose-offset-y: -231px;
@spread-lose-width: 25px;
@spread-lose-height: 16px;
@spread-lose-total-width: 278px;
@spread-lose-total-height: 248px;
@spread-lose-image: '../images/spritesheet.png';
@spread-lose: 132px 231px -132px -231px 25px 16px 278px 248px '../images/spritesheet.png';
@spread-on-demand-active-x: 213px;
@spread-on-demand-active-y: 0px;
@spread-on-demand-active-offset-x: -213px;
@spread-on-demand-active-offset-y: 0px;
@spread-on-demand-active-width: 16px;
@spread-on-demand-active-height: 22px;
@spread-on-demand-active-total-width: 278px;
@spread-on-demand-active-total-height: 248px;
@spread-on-demand-active-image: '../images/spritesheet.png';
@spread-on-demand-active: 213px 0px -213px 0px 16px 22px 278px 248px '../images/spritesheet.png';
@spread-on-demand-lose-x: 27px;
@spread-on-demand-lose-y: 231px;
@spread-on-demand-lose-offset-x: -27px;
@spread-on-demand-lose-offset-y: -231px;
@spread-on-demand-lose-width: 25px;
@spread-on-demand-lose-height: 17px;
@spread-on-demand-lose-total-width: 278px;
@spread-on-demand-lose-total-height: 248px;
@spread-on-demand-lose-image: '../images/spritesheet.png';
@spread-on-demand-lose: 27px 231px -27px -231px 25px 17px 278px 248px '../images/spritesheet.png';
@spread-on-demand-tie-x: 0px;
@spread-on-demand-tie-y: 231px;
@spread-on-demand-tie-offset-x: 0px;
@spread-on-demand-tie-offset-y: -231px;
@spread-on-demand-tie-width: 25px;
@spread-on-demand-tie-height: 17px;
@spread-on-demand-tie-total-width: 278px;
@spread-on-demand-tie-total-height: 248px;
@spread-on-demand-tie-image: '../images/spritesheet.png';
@spread-on-demand-tie: 0px 231px 0px -231px 25px 17px 278px 248px '../images/spritesheet.png';
@spread-on-demand-win-x: 96px;
@spread-on-demand-win-y: 132px;
@spread-on-demand-win-offset-x: -96px;
@spread-on-demand-win-offset-y: -132px;
@spread-on-demand-win-width: 25px;
@spread-on-demand-win-height: 17px;
@spread-on-demand-win-total-width: 278px;
@spread-on-demand-win-total-height: 248px;
@spread-on-demand-win-image: '../images/spritesheet.png';
@spread-on-demand-win: 96px 132px -96px -132px 25px 17px 278px 248px '../images/spritesheet.png';
@spread-on-demand-x: 112px;
@spread-on-demand-y: 181px;
@spread-on-demand-offset-x: -112px;
@spread-on-demand-offset-y: -181px;
@spread-on-demand-width: 16px;
@spread-on-demand-height: 22px;
@spread-on-demand-total-width: 278px;
@spread-on-demand-total-height: 248px;
@spread-on-demand-image: '../images/spritesheet.png';
@spread-on-demand: 112px 181px -112px -181px 16px 22px 278px 248px '../images/spritesheet.png';
@spread-tie-x: 252px;
@spread-tie-y: 36px;
@spread-tie-offset-x: -252px;
@spread-tie-offset-y: -36px;
@spread-tie-width: 25px;
@spread-tie-height: 16px;
@spread-tie-total-width: 278px;
@spread-tie-total-height: 248px;
@spread-tie-image: '../images/spritesheet.png';
@spread-tie: 252px 36px -252px -36px 25px 16px 278px 248px '../images/spritesheet.png';
@spread-turbo-grey-sm-x: 132px;
@spread-turbo-grey-sm-y: 207px;
@spread-turbo-grey-sm-offset-x: -132px;
@spread-turbo-grey-sm-offset-y: -207px;
@spread-turbo-grey-sm-width: 31px;
@spread-turbo-grey-sm-height: 21px;
@spread-turbo-grey-sm-total-width: 278px;
@spread-turbo-grey-sm-total-height: 248px;
@spread-turbo-grey-sm-image: '../images/spritesheet.png';
@spread-turbo-grey-sm: 132px 207px -132px -207px 31px 21px 278px 248px '../images/spritesheet.png';
@spread-turbo-red-sm-x: 198px;
@spread-turbo-red-sm-y: 207px;
@spread-turbo-red-sm-offset-x: -198px;
@spread-turbo-red-sm-offset-y: -207px;
@spread-turbo-red-sm-width: 31px;
@spread-turbo-red-sm-height: 21px;
@spread-turbo-red-sm-total-width: 278px;
@spread-turbo-red-sm-total-height: 248px;
@spread-turbo-red-sm-image: '../images/spritesheet.png';
@spread-turbo-red-sm: 198px 207px -198px -207px 31px 21px 278px 248px '../images/spritesheet.png';
@spread-win-x: 252px;
@spread-win-y: 18px;
@spread-win-offset-x: -252px;
@spread-win-offset-y: -18px;
@spread-win-width: 25px;
@spread-win-height: 16px;
@spread-win-total-width: 278px;
@spread-win-total-height: 248px;
@spread-win-image: '../images/spritesheet.png';
@spread-win: 252px 18px -252px -18px 25px 16px 278px 248px '../images/spritesheet.png';
@spread-x: 0px;
@spread-y: 207px;
@spread-offset-x: 0px;
@spread-offset-y: -207px;
@spread-width: 37px;
@spread-height: 22px;
@spread-total-width: 278px;
@spread-total-height: 248px;
@spread-image: '../images/spritesheet.png';
@spread: 0px 207px 0px -207px 37px 22px 278px 248px '../images/spritesheet.png';
@success-close-x: 96px;
@success-close-y: 88px;
@success-close-offset-x: -96px;
@success-close-offset-y: -88px;
@success-close-width: 42px;
@success-close-height: 42px;
@success-close-total-width: 278px;
@success-close-total-height: 248px;
@success-close-image: '../images/spritesheet.png';
@success-close: 96px 88px -96px -88px 42px 42px 278px 248px '../images/spritesheet.png';
@success-icon-x: 231px;
@success-icon-y: 211px;
@success-icon-offset-x: -231px;
@success-icon-offset-y: -211px;
@success-icon-width: 12px;
@success-icon-height: 12px;
@success-icon-total-width: 278px;
@success-icon-total-height: 248px;
@success-icon-image: '../images/spritesheet.png';
@success-icon: 231px 211px -231px -211px 12px 12px 278px 248px '../images/spritesheet.png';
@timer-dead-x: 252px;
@timer-dead-y: 174px;
@timer-dead-offset-x: -252px;
@timer-dead-offset-y: -174px;
@timer-dead-width: 17px;
@timer-dead-height: 15px;
@timer-dead-total-width: 278px;
@timer-dead-total-height: 248px;
@timer-dead-image: '../images/spritesheet.png';
@timer-dead: 252px 174px -252px -174px 17px 15px 278px 248px '../images/spritesheet.png';
@timer-x: 252px;
@timer-y: 89px;
@timer-offset-x: -252px;
@timer-offset-y: -89px;
@timer-width: 17px;
@timer-height: 15px;
@timer-total-width: 278px;
@timer-total-height: 248px;
@timer-image: '../images/spritesheet.png';
@timer: 252px 89px -252px -89px 17px 15px 278px 248px '../images/spritesheet.png';
@turbo-grey-sm-x: 165px;
@turbo-grey-sm-y: 207px;
@turbo-grey-sm-offset-x: -165px;
@turbo-grey-sm-offset-y: -207px;
@turbo-grey-sm-width: 31px;
@turbo-grey-sm-height: 21px;
@turbo-grey-sm-total-width: 278px;
@turbo-grey-sm-total-height: 248px;
@turbo-grey-sm-image: '../images/spritesheet.png';
@turbo-grey-sm: 165px 207px -165px -207px 31px 21px 278px 248px '../images/spritesheet.png';
@turbo-red-sm-x: 99px;
@turbo-red-sm-y: 207px;
@turbo-red-sm-offset-x: -99px;
@turbo-red-sm-offset-y: -207px;
@turbo-red-sm-width: 31px;
@turbo-red-sm-height: 21px;
@turbo-red-sm-total-width: 278px;
@turbo-red-sm-total-height: 248px;
@turbo-red-sm-image: '../images/spritesheet.png';
@turbo-red-sm: 99px 207px -99px -207px 31px 21px 278px 248px '../images/spritesheet.png';
@up-in-active-x: 213px;
@up-in-active-y: 158px;
@up-in-active-offset-x: -213px;
@up-in-active-offset-y: -158px;
@up-in-active-width: 11px;
@up-in-active-height: 9px;
@up-in-active-total-width: 278px;
@up-in-active-total-height: 248px;
@up-in-active-image: '../images/spritesheet.png';
@up-in-active: 213px 158px -213px -158px 11px 9px 278px 248px '../images/spritesheet.png';
@up-x: 267px;
@up-y: 72px;
@up-offset-x: -267px;
@up-offset-y: -72px;
@up-width: 11px;
@up-height: 9px;
@up-total-width: 278px;
@up-total-height: 248px;
@up-image: '../images/spritesheet.png';
@up: 267px 72px -267px -72px 11px 9px 278px 248px '../images/spritesheet.png';
@warning-close-x: 96px;
@warning-close-y: 44px;
@warning-close-offset-x: -96px;
@warning-close-offset-y: -44px;
@warning-close-width: 42px;
@warning-close-height: 42px;
@warning-close-total-width: 278px;
@warning-close-total-height: 248px;
@warning-close-image: '../images/spritesheet.png';
@warning-close: 96px 44px -96px -44px 42px 42px 278px 248px '../images/spritesheet.png';
@warning-icon-x: 231px;
@warning-icon-y: 169px;
@warning-icon-offset-x: -231px;
@warning-icon-offset-y: -169px;
@warning-icon-width: 12px;
@warning-icon-height: 12px;
@warning-icon-total-width: 278px;
@warning-icon-total-height: 248px;
@warning-icon-image: '../images/spritesheet.png';
@warning-icon: 231px 169px -231px -169px 12px 12px 278px 248px '../images/spritesheet.png';
@white-plus-x: 48px;
@white-plus-y: 181px;
@white-plus-offset-x: -48px;
@white-plus-offset-y: -181px;
@white-plus-width: 23px;
@white-plus-height: 23px;
@white-plus-total-width: 278px;
@white-plus-total-height: 248px;
@white-plus-image: '../images/spritesheet.png';
@white-plus: 48px 181px -48px -181px 23px 23px 278px 248px '../images/spritesheet.png';
@withdraw-hover-x: 140px;
@withdraw-hover-y: 117px;
@withdraw-hover-offset-x: -140px;
@withdraw-hover-offset-y: -117px;
@withdraw-hover-width: 27px;
@withdraw-hover-height: 27px;
@withdraw-hover-total-width: 278px;
@withdraw-hover-total-height: 248px;
@withdraw-hover-image: '../images/spritesheet.png';
@withdraw-hover: 140px 117px -140px -117px 27px 27px 278px 248px '../images/spritesheet.png';
@withdraw-x: 140px;
@withdraw-y: 88px;
@withdraw-offset-x: -140px;
@withdraw-offset-y: -88px;
@withdraw-width: 27px;
@withdraw-height: 27px;
@withdraw-total-width: 278px;
@withdraw-total-height: 248px;
@withdraw-image: '../images/spritesheet.png';
@withdraw: 140px 88px -140px -88px 27px 27px 278px 248px '../images/spritesheet.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
