@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:200,300,400,500,600,700);

body {
	font-family: "Ek Mukta", "Helvetica", "Arial", sans-serif;
	font-size: 14px;
	letter-spacing: 0.05em;
	font-weight: 400;
}

.font-light {
	font-weight: 200;
}