@instrument-selector-widget-duration-selectors-container-bg: @ink;
@instrument-selector-widget-header-padding: 25px 51px 0px 49px;
@instrument-selector-widget-body-padding: 25px 48px 24px;
@instrument-selector-widget-slider-padding: 0px 16px;
@instrument-selector-widget-instrument-filter-width: 175px;
@instrument-selector-widget-instrument-filter-margin: -10px 0px 0px 0px;
@instrument-selector-width: 1170px;
.instrument-selector-widget {
	position: relative;
	width: @instrument-selector-width;

	.instrument-selector-widget-instrument-filter {
		margin: @instrument-selector-widget-instrument-filter-margin;
		min-width: @instrument-selector-widget-instrument-filter-width;
		position: relative;
		z-index: 1;
		.dropdown {
			left: 0px;
			position: absolute;
			top: 0px;
			width: 100%;
		}
	}
	.instrument-selector-widget-collapse-toggle {

		cursor: pointer;
		position: absolute;
		right: 16px;
		top: 24px;
		.block-icon();
		.sprite(@collapse);
		&.on {
			.sprite(@expand);
		}
	}
	.instrument-selector-widget-duration-selectors-container{
		background-color: @instrument-selector-widget-duration-selectors-container-bg;
		min-height: 59px;
		padding: @instrument-selector-widget-header-padding;
		position: relative;
	}
		.instrument-selector-widget-duration-selectors {

		}
			.instrument-selector-widget-duration-selector {
				&:before {
					
					.inline-icon();
					margin-right: 3px;
					
					.sprite(@clock-grey);
				}
				&.active {
					&:before {
						margin-right: 7px;
						
						.sprite(@clock-yellow);
					}
				}
			}

	.instrument-selector-widget-instruments-container {
		.page-container {
			// height: 180px;
		}
		.slider-fade-left,.slider-fade-right {
			height: 100%;
			.opacity(00);
			.transition(opacity 0.2s ease);
			position: absolute;
			top: 0;
			z-index: 10;

			&.in {
				.opacity(100);
			}
		}
		.slider-fade-left {
			.sprite(@slider-fade-left);
			left: 0;
		}
		.slider-fade-right {
			.sprite(@slider-fade-right);
			right: 0;
		}
	}		

	.instrument-selector-widget-instruments-container.tab-view-body  {
		padding: @instrument-selector-widget-body-padding;
		position: relative;
	}
		.instrument-selector-widget-instruments-slider {
			cursor: pointer;
			display: block;
			height: 100%;
			line-height: 188px;
			padding: @instrument-selector-widget-slider-padding;
			position: absolute;
			top: 0px;

			&:before {
				.inline-icon();
				.transition(all 0.2s ease);
			}

			&.backward {
				left: 0;
				
				&:before {
					.sprite(@arrow-left);
				}
			}
			&.forward {
				right: 0;
				
				&:before {
					.sprite(@arrow-right);
				}
			}
		}
}