.highlow-high {
	&:before {
		content: "";
		margin-right: 2px;
		display: inline-block;
		.sprite(@up);
	}
}

.highlow-low {
	&:before {
		content: "";
		margin-right: 2px;
		display: inline-block;
		.sprite(@down);
	}
}