{% extends layout %}
{% block content %}
<h1>UI Element</h1>
<div class="container">
	<h2>
		Instrument Panel
	</h2>
	<div class="row">
		<div class="instrument-panel">
			<div class="instrument-panel-header">
				<div class="instrument-panel-title">
					NZD/JPY
				</div>
				<div class="instrument-panel-duration font-l">
					15m
				</div>
			</div>
			<div class="instrument-panel-body">
				<div class="clearfix">
					<div class="pull-left font-sb">
						Market
					</div>
					<div class="pull-right font-l highlow-high">
						102.227
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-left font-sb">
						Payout
					</div>
					<div class="pull-right font-l">
						$1.85
					</div>
				</div>
				<div>
					<div class="instrument-panel-closing font-l">
						Closing: 12.45
					</div>
				</div>
			</div>
		</div>
		<div class="instrument-panel">
			<div class="instrument-panel-header">
				<div class="instrument-panel-title">
					NZD/JPY
				</div>
				<div class="instrument-panel-duration font-l">
					15m
				</div>
			</div>
			<div class="instrument-panel-body">
				<div class="clearfix">
					<div class="pull-left font-sb">
						Market
					</div>
					<div class="pull-right font-l highlow-low">
						102.227
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-left font-sb">
						Payout
					</div>
					<div class="pull-right font-l">
						$1.85
					</div>
				</div>
				<div>
					<div class="instrument-panel-closing font-l">
						Closing: 12.45
					</div>
				</div>
			</div>
		</div>
		<div class="instrument-panel instrument-panel-active">
			<div class="instrument-panel-header">
				<div class="instrument-panel-title">
					NZD/JPY
				</div>
				<div class="instrument-panel-duration font-l">
					15m
				</div>
			</div>
			<div class="instrument-panel-body">
				<div class="clearfix">
					<div class="pull-left font-sb">
						Market
					</div>
					<div class="pull-right font-l highlow-high">
						102.227
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-left font-sb">
						Payout
					</div>
					<div class="pull-right font-l">
						$1.85
					</div>
				</div>
				<div>
					<div class="instrument-panel-closing font-l">
						Closing: 12.45
					</div>
				</div>
			</div>
		</div>
		<div class="instrument-panel">
			<div class="instrument-panel-header">
				<div class="instrument-panel-title">
					NZD/JPY
				</div>
				<div class="instrument-panel-duration font-l">
					15m
				</div>
			</div>
			<div class="instrument-panel-body">
				<div class="clearfix">
					<div class="pull-left font-sb">
						Market
					</div>
					<div class="pull-right font-l highlow-high">
						102.227
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-left font-sb">
						Payout
					</div>
					<div class="pull-right font-l">
						$1.85
					</div>
				</div>
				<div>
					<div class="instrument-panel-closing font-l">
						Closing: 12.45
					</div>
				</div>
			</div>
		</div>
		<div class="instrument-panel">
			<div class="instrument-panel-header">
				<div class="instrument-panel-title">
					NZD/JPY
				</div>
				<div class="instrument-panel-duration font-l">
					15m
				</div>
			</div>
			<div class="instrument-panel-body">
				<div class="clearfix">
					<div class="pull-left font-sb">
						Market
					</div>
					<div class="pull-right font-l highlow-high">
						102.227
					</div>
				</div>
				<div class="clearfix">
					<div class="pull-left font-sb">
						Payout
					</div>
					<div class="pull-right font-l">
						$1.85
					</div>
				</div>
				<div>
					<div class="instrument-panel-closing font-l">
						Closing: 12.45
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}