@banana: #ffe048;
@dark-charcoal: #272a2f;
@green-leaf: #65ab19;
@grey: #686867;
@kerb: #e1e1e1;
@mid-kerb: #e1dfdf;
@mouse: #4d5158;
@mud: #626770;
@off-white: #f0f0f0;
@pumpkin: #ff9939;
@rainy-cloud: #bcbcbc;
@real-dark: #121315;
@ripped-tomato: #de2e10;
@silver: #e1e1e1;
@carrot: #ee683a;
@watermelon: #e55858;
@melon: #68c093;

// new color;


@cheese: #ffe048;
@orange-juice: #ffc539;
@light-grey: #a3a3a3;
@light-mid-grey: #818080;
@xoi-gac: #e54f37;
@tomato: #ee5826;
@green-pea: #8fc33c;
@elephant: #4b4b4b;
@charcoal: #353535;
@night: #232323;
@ink: #161515;
@dark-grey: #222529;
@mortar: #747474;
@dead-grey: #444444;
@mute-grey: #2d2d2d;



.light-grey {
	color: @light-grey!important;
}
.light-mid-grey {
	color: @light-mid-grey!important;
}

.yellow-gradient {
	background: #ffe048; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZTA0OCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmM1MzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffe048 0%, #ffc539 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffe048), color-stop(100%,#ffc539)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffe048 0%,#ffc539 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffe048 0%,#ffc539 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffe048 0%,#ffc539 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffe048 0%,#ffc539 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe048', endColorstr='#ffc539',GradientType=0 ); /* IE6-8 */

}