@trading-platform-popup-border: 10px solid rgba(red(@real-dark), green(@real-dark), blue(@real-dark),0.4);

@trading-platform-popup-header-bg: #353535;
@trading-platform-popup-header-fg: white;
@trading-platform-popup-header-font-size: 17px;
@trading-platform-popup-header-padding: 15px 30px;


@trading-platform-popup-body-bg: #404040;
@trading-platform-popup-body-fg: white;
@trading-platform-popup-body-padding: 20px 30px;

@trading-platform-popup-transition: opacity 0.1s ease-in;
.trading-platform-popup-wrapper {
	overflow: auto;
	position: absolute;
	display: inline-block;
	z-index: 999999;
	.opacity(100);
	.transition(@trading-platform-popup-transition);
	&.concealed {
		.opacity(00);
		z-index: -1;
		position: absolute;
	}

}
	.trading-platform-popup {
		position: relative;
		display: table;
		height: 100%;
		width: 100%;
	}
		.trading-platform-popup-content-wrapper {
			display: table-row;
		}
			.trading-platform-popup-content {
				display: table-cell;
				vertical-align: middle;
			}
				.trading-platform-popup-content-inner-wrap {
					border: @trading-platform-popup-border;
				}
					.trading-platform-overlay {
						position: relative;
						display: block
					}

					.trading-platform-popup-header {

						&:extend(.font-m);
						background-color: @trading-platform-popup-header-bg;
						color: @trading-platform-popup-header-fg;
						font-size: @trading-platform-popup-header-font-size;
						letter-spacing: 0.2em;
						padding: @trading-platform-popup-header-padding;
						cursor:move!important;

						.jap-word {
							font-weight: 700;
						}

						.ja & {
							font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
						}
					}
						.trading-platform-popup-close {
							cursor: pointer;
							float: right;
							.opacity(100);
							.inline-icon();
							.sprite(@close);
							top: 3px;
							position: relative;
							&:hover {
								.opacity(100);
								.sprite(@close-hover);
							}
						}

					.trading-platform-popup-body {
						background-color: @trading-platform-popup-body-bg;
						color: @trading-platform-popup-body-fg;
						padding: @trading-platform-popup-body-padding;
					}

#make-deposit-popup,
#make-withdrawal-popup {

	.trading-platform-popup-header  {
		// font-weight: bold;
	}

	iframe {
	    width: 600px;
	    height: 550px;
	    overflow: hidden !important;
	    display: block;
	}

	.trading-platform-popup {
		width: 600px;
		margin: auto;
		overflow: hidden;
	}

	.trading-platform-popup-body {
		padding: 0;
		background-color: #3d3d3d;
	}

	&.full-screen {
		overflow: visible!important;
		&:before {
			background-color: #fff;
			.opacity(70);
			content: "";
			display: block;
			left: -30px;
			right: -30px;
			top: -30px;
			bottom: -30px;
			position: absolute;
		}

		.trading-platform-popup {
			width: 100%;
			height: 100%;
			display: block;
		}

		.trading-platform-popup-content-wrapper {
			display: block;

		}

		.trading-platform-popup-content,
		.trading-platform-popup-content-inner-wrap {
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
    		padding: 0px;
		}

		.trading-platform-popup-content-inner-wrap {
			border: none;
		}

		.trading-platform-popup-header {
		    position: absolute;
		    cursor: auto !important;
		    text-indent: -9999px;
		    left: auto;
		    width: 54px;
		    right: 0px;
		    padding: 0px;
		    z-index: 1000;
		    top: 0px;
		    // box-shadow: -4px 4px 10px 0px rgba(0,0,0,0.1);
		    // .transition(all 0.5s ease);

		    .close {
		    	width: 54px;
		    	height: 54px;
		    	background: none;    
		    	top: 0px;
		    	&:before {
		    		content: "";
		    		display: block;
					.sprite(@close);
					position: absolute;
					top: 50%;
					left: 50%;
					margin-top: -@close-height/2;
					margin-left: -@close-width/2;
		    	}
				&:hover {
		    		background: none;
		    		&:before {
						.sprite(@close-hover);
		    		}
				}
		    }
		}

		.trading-platform-popup-body {
			position: absolute;  
			top: 0px;
			left: 0px;
			bottom: 0px;
			right: 0px;
		}

		iframe {
			position: absolute;
			background-color: #fff;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			overflow-x: hidden!important;
			overflow-y: auto!important;
		}
	}

}